/*made all images on https://www.canva.com/*/

html {
  height: 100%;
  width: 100%;
  background-color: #C1ECFD;
}

.easyLevelTitle {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0px;
  bottom: 450px;
  z-index: -5;
}

.cloudReset {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 1030px;
  bottom: 10px;
  z-index: 1;
}

.bee {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 980px;
  bottom: 275px;
  z-index: -5;
}

.beeTrail {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 200px;
  bottom: 150px;
  z-index: -5;
}

.arrow {
  position: absolute;
  width: 200px;
  height: 150px;
  left: 10px;
  bottom: 10px;
}

.sun {
  position: absolute;
  right: 0px;
  width: 400px;
  height: 400px;
  top: 0px;
  z-index: 1;
}

#game {
  margin: 0 auto;
  width: 480px;
  height: 480px;
  background-color: #ACB4BF;
  border: 15px solid #FFF;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

#countdown {
  font-size: 48px;
  color: white;
  position: fixed;
  top: 60px;
  right: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 1;
}

.box {
  position: fixed;
  width: 600px;
  height: 40px;
  border: 5px solid white;
  padding: 10px;
  margin: auto;
  left: 30%;
  bottom: 25px;
}

#errors {
  font-size: 30px;
  color: #1F628E;
  position: fixed;
  bottom: 40px;
  left: 50%; 
  transform: translateX(-50%); 
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 1;
}

#matches {
  font-size: 30px;
  color: #1F628E;
  position: fixed;
  bottom: 40px;
  left: 65%; 
  transform: translateX(-50%); 
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 1;
}

#moves {
  font-size: 30px;
  color: #1F628E;
  position: fixed;
  bottom: 40px;
  left: 35%; 
  transform: translateX(-50%); 
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 1;
}

.symbol {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.reset {
  background-color: #1F628E;
  border: none;
  color: white;
  position: absolute;
  left: 1170px;
  bottom: 120px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  border-radius: 12px;
  z-index: 1;
}

.reset:hover {
  background-color: white;
  color: black;
}